h1 {
  text-align: center;
}

#game-board {
  margin: 10px auto;
  max-width: 90%;

  div {
    box-sizing: border-box;

    div{
      border: 1px solid black;
      padding-top: 33%;
      position: relative;

      * {
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}
