#game-board {
  max-width: 720px;

  div {
    box-sizing: border-box;

    div{
      border: 1px solid black;
      padding-top: 33%;
      position: relative;

      * {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin: 0;
      }
    }
  }
}
